# SaaS-Core Master Environment Variables
PORT=4000
NODE_ENV=development

# Database Connections
DATABASE_URL=postgresql://saas_admin:super_secret_pg_password@localhost:5432/saas_core
MONGO_URI=mongodb://localhost:27017/saas_audit
REDIS_URL=redis://localhost:6379

# Dual-Token JWT Secret Keys
JWT_ACCESS_SECRET=default_super_secret_jwt_access_key_2026_x9
JWT_REFRESH_SECRET=default_super_secret_jwt_refresh_key_2026_z1

# Client Config
VITE_API_URL=http://localhost:4000
